<div>
  <div class="header">
    <div class="top">
      <div class="top-content">
        <img src="../../assets/images/hsbc-logo.svg"/>
        <ul class="top-menu">
          <li (click)="onMenuSelected(1)" [ngClass]="{'active': selectedMenu===1}">
            How to connect?
          </li>
          <li (click)="onMenuSelected(2)" [ngClass]="{'active': selectedMenu===2}">
            Scheduler
          </li>
        </ul>
      </div>
      <div class="top-menu-details" *ngIf="selectedMenu > 0">
        <div class="top-menu-details-container">
          <div class="close-icon">
            <img (click)="onMenuSelected(0)" src="../../assets/images/close-icon.png"/>
          </div>

          <div *ngIf="selectedMenu === 1" class="top-menu-content">
            <div class="title">
              How to connect?
            </div>
            <div class="text">
              You need to click to room Zoom icon. Moze jakis obrazek tutaj? Jakas instrukcja jak polaczyc sie?
            </div>
          </div>

          <div *ngIf="selectedMenu === 2" class="top-menu-content">
            <div class="title">
              Scheduler
            </div>
            <div class="text">
              <div class="scheduler">
                <div class="scheduler-day">
                  <div class="title">
                    20/04 Monday
                  </div>
                  <div class="divider"></div>
                  <div>
                    <table>
                      <thead>
                      <td>Time</td>
                      <td>Session</td>
                      <td>Purpose</td>
                      <td>TP</td>
                      <td>SHP</td>
                      <td>Cloud</td>
                      <td>DIS</td>
                      <td>PTL</td>
                      <td>DTME</td>
                      </thead>
                      <tr>
                        <td>AM</td>
                        <td>Pre Sync with Delivery Leads</td>
                        <td>Ensure Delivery LEads are ready</td>
                        <td>Ian and Ullas</td>
                        <td>Ian and Stephen</td>
                        <td>Ian and Erich</td>
                        <td>Seema and Seyi</td>
                        <td>Udhav and Paul</td>
                        <td>Hany</td>
                      </tr>
                      <tr>
                        <td>12:15 onwards</td>
                        <td>
                          <span>Opening</span>
                          <ol>
                            <li>Ian</li>
                            <li>Dave</li>
                            <li>Napo</li>
                            <li>Ash</li>
                          </ol>
                        </td>
                        <td>Commence PI planning and scene setting</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                      </tr>
                      <tr>
                        <td>PM</td>
                        <td>Q1 Reviews of deliverables and any demos</td>
                        <td>Share success and show deliverables</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                      </tr>
                    </table>
                  </div>
                </div>

                <div class="scheduler-day">
                  <div class="title">
                    21/04 Tuesday
                  </div>
                  <div class="divider"></div>
                  <div>
                    <table>
                      <thead>
                      <td>Time</td>
                      <td>Session</td>
                      <td>Purpose</td>
                      <td>TP</td>
                      <td>SHP</td>
                      <td>Cloud</td>
                      <td>DIS</td>
                      <td>PTL</td>
                      <td>DTME</td>
                      </thead>
                      <tr>
                        <td>AM</td>
                        <td>Opening</td>
                        <td>Day 1 opening</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                        <td>All</td>
                      </tr>
                      <tr>
                        <td>AM</td>
                        <td>Team planning sessions</td>
                        <td>Individual team planning raising any items via Q2 PO and Delivery channels.<br/>Names are
                          the hosts of the team planning sessions
                        </td>
                        <td>
                          <ol>
                            <li>RDP - Mario</li>
                            <li>RDPP - Martin</li>
                            <li>ITM - Kate</li>
                          </ol>
                        </td>
                        <td>
                          <ol>
                            <li>Mario</li>
                            <li>Paul</li>
                            <li>Martin</li>
                            <li>Kate</li>
                            <li>Toby</li>
                            <li>Alan</li>
                            <li>Rommy</li>
                          </ol>
                        </td>
                        <td>
                          <ol>
                            <li>DCS - Mark and Mariusz</li>
                          </ol>
                        </td>
                        <td>
                          <ol>
                            <li>Seema and Seyi</li>
                          </ol>
                        </td>
                        <td>
                          <ol>
                            <li>Udhav and Paul S</li>
                          </ol>
                        </td>
                        <td>
                          <ol>
                            <li>Hany</li>
                          </ol>
                        </td>
                      </tr>
                      <tr>
                        <td>AM</td>
                        <td>Team review with Delivery Area Leads</td>
                        <td>Touch point to review progressing in planning session and pick up any messages from the channels.<br />Hosts are the PO and delivery leads</td>
                        <td>
                          <ol>
                            <li>Ulas</li>
                            <li>Ian</li>
                            <li>Mario</li>
                            <li>Martin</li>
                            <li>Kate</li>
                            <li>Michal</li>
                          </ol>
                        </td>
                        <td>
                          <ol>
                            <li>Mario</li>
                            <li>Paul</li>
                            <li>Martin</li>
                            <li>Kate</li>
                            <li>Toby</li>
                            <li>Alan</li>
                            <li>Rommy</li>
                            <li>Stephen</li>
                            <li>Ian</li>
                            <li>Michal</li>
                            <li>Mark B</li>
                          </ol>
                        </td>
                        <td></td>
                        <td></td>
                        <td>Udhav and Paul S</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>PM</td>
                        <td>Team planning sessions</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>PM</td>
                        <td>Team review with Delivery Areas</td>
                        <td>DTF end of day recap and virtual social</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                </div>

                <div class="scheduler-day">
                  <div class="title">
                    22/04 Wednesday
                  </div>
                  <div class="divider"></div>
                  <div>
                    <table>
                      <thead>
                      <td>Time</td>
                      <td>Session</td>
                      <td>Purpose</td>
                      <td>TP</td>
                      <td>SHP</td>
                      <td>Cloud</td>
                      <td>DIS</td>
                      <td>PTL</td>
                      <td>DTME</td>
                      </thead>
                      <tr>
                        <td>AM</td>
                        <td>Opening</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>AM</td>
                        <td>Team planning sessions</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>AM</td>
                        <td>Team review with Delivery Area Leads</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>AM</td>
                        <td>Team planning sessions</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>AM</td>
                        <td>Team review with Delivery Area Leads</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>AM</td>
                        <td>DTF end of day recap</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="overlay"></div>
      <div class="banner-text">
        <div class="banner-text-title">Welcome on 2020 Q2 PI</div>
        <div class="banner-text-small">First ever HSBC online planning is happening! Please select room below and join
          your team.
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedMenu > 0" class="page-overlay"></div>
